{% import 'inc/macros.twig' as m %}
<div id="pr">
    <div class="ct">
        <div class="sub" data-show>{{lang.press.sub}}</div>
        <h2 class="h2" data-show>{{lang.press.title}}</h2>
        <div class="lst" data-show>
            {{m.Press(
                'CoinTelegraph',
                'https://cointelegraph.com/press-releases/kryxivia-offers-blockchain-gaming-with-an-nft-powered-twist-incubated-on-unicrypt', 
                {img:'cointelegraph.svg',width:268,height:62}
            )}}
            {{m.Press(
                'ChainBits',
                'https://www.chainbits.com/press-releases/kryxivia-offers-blockchain-gaming-with-an-nft-powered-twist-incubated-on-unicrypt/', 
                {img:'chainbits.png',width:400,height:80}
            )}}
            {{m.Press(
                'ChainRadar',
                'https://chainradar.co/kryxivia-offers-blockchain-gaming-with-an-nft-powered-twist-incubated-on-unicrypt/', 
                {img:'chainradar.png',width:400,height:80}
            )}}
            {{m.Press(
                'TheNewsCrypto',
                'https://thenewscrypto.com/kryxivia-offers-blockchain-gaming-with-an-nft-powered-twist-incubated-on-unicrypt/', 
                {img:'Thenewscrypto.png',width:500,height:78}
            )}}
            {{m.Press(
                'Coin Rivet',
                'https://coinrivet.com/kryxivia-offers-blockchain-gaming-with-an-nft-powered-twist-incubated-on-unicrypt/', 
                {img:'coinrivet.svg',width:500,height:94}
            )}}
            {{m.Press(
                'CoinQuora',
                'https://coinquora.com/kryxivia-offers-blockchain-gaming-with-an-nft-powered-twist-incubated-on-unicrypt/', 
                {img:'coinquora.png',width:2000,height:350}
            )}}
            {{m.Press(
                'CoinCodex',
                'https://coincodex.com/article/12962/kryxivia-offers-blockchain-gaming-with-an-nft-powered-twist-incubated-on-unicrypt/', 
                {img:'coincodex.svg',width:1254,height:246}
            )}}
            {{m.Press(
                'UK Bitcoin Blog',
                'https://www.ukbitcoinblog.com/general-info/kryxivia-offers-blockchain-gaming-with-an-nft-powered-twist-incubated-on-unicrypt/', 
                {img:'ukcoinblog.png',width:684,height:89}
            )}}
            {{m.Press(
                'CoinMarketCal',
                'https://coinmarketcal.com/en/news/kryxivia-offers-blockchain-gaming-with-an-nft-powered-twist-incubated-on-unicrypt', 
                {img:'coinmarketcal.png',width:497,height:75}
            )}}
            {{m.Press(
                'DefiTimes',
                'https://defitimes.io/news/kryxivia-offers-blockchain-gaming-with-an-nft-powered-twist-incubated-on-unicrypt/', 
                {img:'defitimes.svg',width:300,height:48}
            )}}
            {{m.Press(
                'ChainWire',
                'https://chainwire.org/2021/11/24/kryxivia-offers-blockchain-gaming-with-an-nft-powered-twist-incubated-on-unicrypt/', 
                {img:'chainwire.png',width:512,height:65}
            )}}
            {{m.Press(
                'The Crypto Basic',
                'https://thecryptobasic.com/2021/11/24/kryxivia-offers-blockchain-gaming-with-an-nft-powered-twist-incubated-on-unicrypt/', 
                {img:'thecryptobasic.svg',width:300,height:64}
            )}}
            {{m.Press(
                'Ihodl',
                'https://ihodl.com/press-releases/2021-11-24/kryxivia-offers-blockchain-gaming-nft-powered-twist-incubated-unicrypt/', 
                {img:'ihodl.svg',width:300,height:62}
            )}}
            {{m.Press(
                'Blockonomi',
                'https://blockonomi.com/kryxivia-offers-blockchain-gaming-with-an-nft-powered-twist-incubated-on-unicrypt/', 
                {img:'blockonomi.png',width:300,height:47}
            )}}
            {{m.Press(
                'Tech Times',
                'https://www.techtimes.com/articles/268451/20211129/in-kryxivia-crypto-gamers-will-find-adventure-and-build-fortunes.htm', 
                {img:'techtimes.svg',width:300,height:44}
            )}}
            {{m.Press(
                'HackerNoon',
                'https://hackernoon.com/welcome-to-kryxivia-the-future-of-blockchain-mmorpg-gaming', 
                {img:'hn-logo.png',width:619,height:100}
            )}}
        </div>
    </div>
    {{m.img('img/bg-press.png', {width:1900,height:1091,cls:'bg',alt:'Kryxivia'})}}
</div>