<!DOCTYPE html>
<html lang="{{langCode}}" class="{{'wbp'|webp}}">
	<head>
		{% block head %}
	        {% include 'inc/head.twig' with {
	        	title: lang.head.home.title,
	        	desc: lang.head.home.desc,
	        	urlAlternate: ''
	    	} %}
    	{% endblock %}
    	{% block robots %}{% endblock %}
    	{% for f in ['gilroy/Gilroy-Extrabold', 'gilroy/Gilroy-Medium', 'gilroy/Gilroy-ExtraboldItalic', 'gilroy/Gilroy-MediumItalic'] %}
			<link rel="preload" href="{{asset('fonts/'~ f ~'.woff2')}}" as="font" crossorigin="anonymous">
		{% endfor %}
    	{% block css %}
    		{{'default'|minifier()|raw}}
    	{% endblock %}
    	{% block js %}
    		{{'default'|minifierJS()|raw}}
    	{% endblock %}
	</head>
	<body>
		<div id="app">
			{% block header %}
				{% include 'inc/header.twig' %}
			{% endblock %}
			{% block content %}{% endblock %}
			{% block info %}
				{% include 'inc/info.twig' %}
			{% endblock %}
			{% block footer %}
				{% include 'inc/footer.twig' %}
			{% endblock %}
		</div>
		<a href="https://client.kryxivia.io/" title="{{lang.play.tit}} {{lang.play.alpha|lower}}" class="bn stck plyn" target="_blank">
            <strong><span class="dr">{{lang.play.tit}}</span><span class="hov">{{lang.play.tit}}</span></strong>
            <small>{{lang.play.alpha}}</small>
        </a>
		{% block plus %}{% endblock %}
{# 		{% if load != 1 %}
			<div class="load">
				{{m.img('img/logo-kryxivia.png', {width:958,height:365,alt:lang.all.name,lazy:true})}}
			</div>
		{% endif %} #}
    	{% block libjs %}{% endblock %}
	</body>
</html>
