{% extends 'app.twig' %}
{% import 'inc/macros.twig' as m %}
{% block css %}
	{{'index'|minifier(['pages/index'])|raw}}
{% endblock %}
{% block js %}
    {{'index'|minifierJS(['gsap', 'sparks'], ['index'])|raw}}
{% endblock %}
{% block content %}
	<div id="ix">
		<div class="ct">
			<div class="ixc">
				<div class="sub">{{lang.home.sub}}</div>
				<h1>{{lang.home.title}}</h1>
				<h2>{{lang.home.now|replace({'$KXA':m.kxa()})|raw}}</h2>
				<div class="but">
					<div class="pck-c">
						<a href="{{config.settings.kxa.pancakeswap}}" title="{{lang.all.buy|replace({'%name%':'Pancakeswap'})}}" target="_blank" rel="external noreferrer noopener" class="bn pck">
		                	{{m.pancake()}}
		            	</a>
		            </div>
					<div class="mxc-c">
						<a href="{{config.settings.kxa.mexc}}" title="{{lang.all.buy|replace({'%name%':'MEXC Global'})}}" target="_blank" rel="external noreferrer noopener" class="bn mxc">
		                	{{m.mexc()}}
		            	</a>
		            </div>
	            </div>
	            <div class="info">
	            	<div>
	            		<p>{{lang.home.made}}</p>
	            		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1500 551.724" width="1000" height="367.816" xmlns:v="https://vecta.io/nano"><title>Unity Kryxivia</title><path d="M617.241 300V143.678h65.517v158.621c0 26.437 13.793 43.678 45.977 43.678 29.885 0 44.828-18.391 44.828-44.828V143.678h65.517V300c0 60.92-36.782 97.701-110.345 97.701-74.713 1.149-111.494-35.632-111.494-97.701zm251.724-96.552h58.621v26.437h1.149c13.793-20.69 32.184-31.034 58.621-31.034 41.379 0 65.517 29.885 65.517 72.414v122.988h-60.92V282.759c0-19.54-10.345-33.333-29.885-33.333s-33.333 17.241-33.333 40.23v104.598h-60.92V203.448zm214.942-74.713h60.92v49.425h-60.92zm0 74.713h60.92v189.655h-60.92zm108.046 140.23v-90.805h-25.287v-49.425h25.287v-59.77h58.621v59.77h34.483v49.425h-34.483v78.161c0 14.943 8.046 18.391 20.69 18.391h13.793v43.678c-5.747 1.149-17.241 3.448-33.333 3.448-34.483 0-59.77-11.494-59.77-52.874zm131.034 65.517h20.69c17.241 0 25.287-6.897 25.287-19.54 0-8.046-3.448-19.54-11.494-39.08l-56.322-145.977h63.218l25.287 80.46c5.747 18.391 11.494 43.678 11.494 43.678h1.149s5.747-25.287 11.494-43.678l25.287-80.46H1500l-65.517 191.954c-14.943 44.828-33.333 59.77-71.264 59.77h-39.081z"/><path d="M488.506 386.207V128.736L265.517 0v98.851l87.356 50.575c3.448 2.299 3.448 6.897 0 8.046l-103.448 59.77c-3.448 2.299-6.897 1.149-9.195 0l-103.448-59.77c-3.448-1.149-3.448-6.897 0-8.046l87.356-50.575V0L0 128.736v257.471-1.149 1.149l85.057-49.425V235.632c0-3.448 4.598-5.747 6.897-4.598l103.448 59.77c3.448 2.299 4.598 4.598 4.598 8.046v119.54c0 3.448-4.598 5.747-6.897 4.598l-87.356-50.575-85.057 49.425 222.989 129.885 222.989-128.736-85.057-49.425-87.356 50.575c-3.448 2.299-6.897 0-6.897-4.598V300c0-3.448 2.299-6.897 4.598-8.046l103.448-59.77c3.448-2.299 6.897 0 6.897 4.598v101.149z" fill="#fff"/><path d="M243.678 551.724l222.989-128.736-85.057-49.425-87.356 50.575c-3.448 2.299-6.897 0-6.897-4.598V300c0-3.448 2.299-6.897 4.598-8.046l103.448-59.77c3.448-2.299 6.897 0 6.897 4.598v101.149l85.057 49.425V128.736L243.678 270.115z"/><path d="M265.517 0v98.851l87.356 50.575c3.448 2.299 3.448 6.897 0 8.046l-103.448 59.77c-3.448 2.299-6.897 1.149-9.195 0l-103.448-59.77c-3.448-1.149-3.448-6.897 0-8.046l87.356-50.575V0L0 128.736l243.678 141.379 243.678-141.379z" fill="#fff"/><path d="M194.253 424.138l-87.356-50.575-85.057 49.425 222.989 128.736V270.115L0 128.736v257.471-1.149 1.149l85.057-49.425V235.632c0-3.448 4.598-5.747 6.897-4.598l103.448 59.77c3.448 2.299 4.598 4.598 4.598 8.046v119.54c1.149 4.598-2.299 8.046-5.747 5.747z" fill="#fff"/></svg>
	            	</div>
	            	<div>
	            		<p>{{lang.home.propuls}}</p>
	            		{{m.img('img/kryxivia-binance-smart-chain.png', {width:400,height:106,alt:"Binance Smart Chain Kryxivia"})}}
	            	</div>
	            </div>
			</div>
		</div>
        <div class="bg">
            <div></div>
        </div>
        <div id="spark-ix" class="sparks" data-spark="#ff7c49"></div>
        {{m.img('img/bottom-ix.png', {width:2000,height:744,cls:'b-ix',alt:lang.all.name,lazy:true})}}
    </div>
    <div id="tra" class="vidd">
        <div class="tra-c">
            <div class="yt"><iframe id="tra-yt" width="560" height="315" data-src="https://www.youtube.com/embed/{{config.settings.video.trailer}}?rel=0&enablejsapi=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
        </div>
        <div class="bg-tra" onClick="closeTra()"></div>
    </div>
    <div id="traGp" class="vidd">
        <div class="tra-c">
            <div class="yt"><iframe id="tra-yt-gp" width="560" height="315" data-src="https://www.youtube.com/embed/{{config.settings.video.gameplay}}?rel=0&enablejsapi=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
        </div>
        <div class="bg-tra" onClick="closeTraGp()"></div>
    </div>
    {% include 'inc/presentation.twig' %}
    {% include 'inc/token.twig' %}
    {% include 'inc/partners.twig' %}
    {% include 'inc/press.twig' %}
{% endblock %}
{% block plus %}
	<div id="sd">
		<div class="bars">
			{% for i in 1..5 %}<span></span>{% endfor %}
		</div>
		<strong class="play">{{lang.all.play}}</strong> 
		<strong class="stop">{{lang.all.pause}}</strong> 
		<span>Kryxivia {{lang.all.music}}</span>
	</div>
	<audio id="bgsound" data-src="{{asset('media/kryxivia_main-theme_music_web-edit.mp3')}}"></audio>
{% endblock %}